
#**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Edición 2025**

---
## Trabajo práctico entregable - Parte 1

In [1]:
import io
import matplotlib
import matplotlib.pyplot as plt
import numpy
import pandas as pd
import seaborn

seaborn.set_context('talk')

## Lectura del dataset

En la notebook 00 se explican los detalles de la siguiente sección.

In [2]:
url = 'https://raw.githubusercontent.com/DiploDatos/AnalisisyVisualizacion/master/sysarmy_survey_2025_processed.csv'
df = pd.read_csv(url)

In [3]:
df.sample(6)

,Unnamed: 0,work_province,work_dedication,work_contract_type,salary_monthly_BRUTO,salary_monthly_NETO,salary_in_usd,salary_last_dollar_value,salary_has_bonus,salary_bonus_tied_to,...,salir_o_seguir_contestando_sobre_las_guardias,work_on_call_duty,salary_on_call_duty_charge,aclara_el_numero_que_ingresaste_en_el_campo_anterior,profile_age,profile_gender,habias_respondido_nuestra_encuesta_en_ediciones_anteriores,sueldo_dolarizado,seniority,_sal
2921,3021,Buenos Aires,Full-Time,Staff (planta permanente),2169000.0,1800000.0,NaN,NaN,No,No recibo bono,...,Terminar encuesta,NaN,NaN,NaN,50,Hombre Cis,Sí,False,Senior,2169000.0
2524,2615,Ciudad Autónoma de Buenos Aires,Full-Time,Staff (planta permanente),4044768.0,3088916.0,NaN,NaN,De uno a tres sueldos,Performance individual,...,NaN,NaN,NaN,NaN,43,Hombre Cis,Sí,False,Semi-Senior,4044768.0
2272,2358,Ciudad Autónoma de Buenos Aires,Full-Time,Staff (planta permanente),1933000.0,1605000.0,NaN,NaN,No,No recibo bono,...,NaN,NaN,NaN,NaN,44,Hombre Cis,No,False,Senior,1933000.0
872,902,Ciudad Autónoma de Buenos Aires,Full-Time,Staff (planta permanente),4400000.0,3400000.0,Cobro parte del salario en dólares,1020,Menos de un sueldo,guardias,...,Terminar encuesta,"Sí, pasiva",1200000.0,Bruto,36,Hombre Cis,Sí,True,Senior,4400000.0
3761,3876,Ciudad Autónoma de Buenos Aires,Full-Time,Staff (planta permanente),3600000.0,2750000.0,NaN,NaN,Menos de un sueldo,Performance individual,...,NaN,NaN,NaN,NaN,44,Hombre Cis,Sí,False,Senior,3600000.0
1622,1688,Córdoba,Full-Time,Staff (planta permanente),3100000.0,2500000.0,Mi sueldo está dolarizado (pero cobro en moned...,NaN,Un sueldo,Mix de las anteriores,...,NaN,NaN,NaN,NaN,35,Hombre Cis,Sí,True,Senior,3100000.0

# Ejercicio 1 - Análisis descriptivo

Responder a la pregunta: **¿Cuáles son los lenguajes de programación asociados a los mejores salarios?**

Para ello:
1. Seleccionar las columnas relevantes para analizar.
2. Seleccionar las filas relevantes para analizar. Esto incluye la eliminación de valores extremos y erróneos, pero también puede enfocar el análisis en una sub-población. Por ejemplo, se pueden limitar a personas con un salario mayor que 300000 pesos, o a las personas que trabajan sólo en "Data Science", pero deben justificar su elección y reformular la pregunta inicial de ser necesario.
  * Obtener una lista de los lenguajes de programación más populares. Decidir cuántos y cuáles seleccionan para incluir en el análisis.
  * Para cada una de las otras columnas del punto anterior, elegir los rangos o valores seleccionan para incluir en el análisis.
3. Seleccionar métricas que ayuden a responder la pregunta, y los métodos para analizarlas. Elegir UNA de las siguientes opciones:
  * Comparar las distribuciones de salario para cada lenguaje utilizando visualizaciones. Como la visualización es el producto final, debe ser clara y mostrar información relevante.
  * Comparar medidas de estadística descriptiva sobre la distribución de salario para cada lenguaje. Sean creativos, la estadística descriptiva nos permite decir cosas como: "el 10% de los mejores sueldos los ganan, en su mayoría, programadores que saben kotlin!" (donde *mayoría* es un término medio engañoso que sólo significa más del 50%). Para comparar múltiples lenguajes, les recomendamos usar también visualizaciones.
  * Comparar probabilidades. Por ejemplo: "Si sabés Python o Java, tenés un 30% más de chances de ganar arriba de 1000K".

Si lo consideran necesario, realicen varias iteraciones. Es decir, si encuentran que las distribuciones de los lenguajes de programación que seleccionaron inicialmente no son muy diferentes, pueden re-hacer el análisis usando sólo los lenguajes de programación que son diferentes.

In [5]:
df_col_cleaned = df[['work_province', 'work_dedication', 'work_contract_type',
       'salary_monthly_BRUTO', 'salary_monthly_NETO', 'salary_in_usd',
       'salary_last_dollar_value', 'salary_has_bonus', 'salary_bonus_tied_to',
       'salary_inflation_adjustment', 'salary_percentage_inflation_adjustment',
       'salary_month_last_inflation_adjustment',
       'salary_comparison_last_semester', 'salary_benefit',
       'salary_satisfaction',
       'company_main_activity', 'profile_years_experience',
       'work_years_in_company', 'work_years_in_current_position',
       'work_people_in_charge_of', 'tools_platform',
       'tools_programming_languages', 'tools_frameworks', 'tools_data_bases',
       'tools_qa_testing', 'company_employee_number', 'work_work_modality',
       'company_days_in_the_office',
       'company_recommended',
       'profile_studies_level', 'profile_studies_level_state',
       'profile_career', 'profile_university',
       'profile_age',
       'profile_gender',
       'sueldo_dolarizado', 'seniority',]]

In [6]:
print("Porcentaje de personas que trabajan full-time", (df[df.work_dedication == "Full-Time"].shape[0] / df.shape[0]))
## me quedo solo con fulltime, dado que part-time pueden ser 5, 4 o 1 hora por día
fulltime_df = df[df.work_dedication == "Full-Time"]

Porcentaje de personas que trabajan full-time 0.9572748267898383

In [9]:
# complete here if you want to include more columns
relevant_columns = ['tools_programming_languages', 'salary_monthly_NETO']
df_1 = fulltime_df[relevant_columns]

In [10]:
df_1

                       tools_programming_languages  salary_monthly_NETO
1     CSS, HTML, Java, Javascript, SQL, TypeScript           10200000.0
2                                              SQL            3137662.0
4                               Bash/Shell, Python                  NaN
5                        Ninguno de los anteriores            2167989.0
6                                .NET, Python, SQL            4000000.0
...                                            ...                  ...
5190                                    Javascript            1900000.0
5192              CSS, HTML, Java, Javascript, SQL            1300000.0
5193         Bash/Shell, Groovy, Java, Kotlin, SQL            2400000.0
5194                                   PHP, Python            4200000.0
5195                                           SQL            2040000.0

[4974 rows x 2 columns]

### Conteo de frecuencias de los lenguajes de programación

La columna que contiene información sobre los lenguajes de programación utilizados es `tools_programming_languages`. Sus valores son strings con los lenguajes seleccionados separados por comas.

In [ ]:
df.tools_programming_languages[:3]

0                       Ninguno de los anteriores
1    CSS, HTML, Java, Javascript, SQL, TypeScript
2                                             SQL
Name: tools_programming_languages, dtype: object

Las siguientes celdas de código separan estos lenguajes de programación y cuentan la frecuencia con la que aparecen.

No es necesario entender este código en profundidad, aunque sí es un buen ejercicio.

In [11]:
# Convert the comma-separated string of languages to a list of string.
# Remove 'ninguno de los anteriores' option, spaces and training commas.
def split_languages(languages_str):
    if not isinstance(languages_str, str):
        return []
    # Remove 'other' option
    languages_str = languages_str.lower().replace('ninguno de los anteriores', '')
    # Split string into list of items
    return [
      lang.strip().replace(',', '')
      for lang in languages_str.split()
    ]

In [12]:
# Create a new column with the list of languages
df_1.loc[:, 'cured_programming_languages'] = df_1.tools_programming_languages.apply(split_languages)
if 'cured_programming_languages' not in relevant_columns:
    relevant_columns.append('cured_programming_languages')

# Duplicate each row of df for each programming language
# mentioned in the response.
# We only include in df_lang the columns we are going to analyze later, so we
# don't duplicate innecesary information.
df_lang = df_1.cured_programming_languages.apply(
    pd.Series
    ).stack().reset_index(level=-1, drop=True).to_frame().join(
        df_1[relevant_columns]
    ).rename(columns={0: 'programming_language'})
# Horrible programming style! But a lot of data science code can be written with
# as concatenations of functions (pipelines), and there's no elegant way of
# doing that on Python.
df_lang[:5]

/tmp/ipykernel_35198/2251228323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.loc[:, 'cured_programming_languages'] = df_1.tools_programming_languages.apply(split_languages)

,programming_language,tools_programming_languages,salary_monthly_NETO,cured_programming_languages
1,css,"CSS, HTML, Java, Javascript, SQL, TypeScript",10200000.0,"[css, html, java, javascript, sql, typescript]"
1,html,"CSS, HTML, Java, Javascript, SQL, TypeScript",10200000.0,"[css, html, java, javascript, sql, typescript]"
1,java,"CSS, HTML, Java, Javascript, SQL, TypeScript",10200000.0,"[css, html, java, javascript, sql, typescript]"
1,javascript,"CSS, HTML, Java, Javascript, SQL, TypeScript",10200000.0,"[css, html, java, javascript, sql, typescript]"
1,sql,"CSS, HTML, Java, Javascript, SQL, TypeScript",10200000.0,"[css, html, java, javascript, sql, typescript]"

En la columna `programming_language` se encuentra cada lenguaje por separado. Notar que si una respuesta contenía 3 lenguajes, como `"HTML, Javascript, Python"`, la fila ha sido replicada 3 veces. Por ello, hay tres filas con índice 1.

In [13]:
language_count = df_lang.programming_language.value_counts()\
    .reset_index()\
    .rename(columns={'index': 'language', 'programming_language': 'frequency'})
language_count[:10]

    frequency  count
0         sql   2213
1  javascript   1839
2      python   1623
3        html   1304
4  typescript   1034
5         css    915
6  bash/shell    865
7        java    828
8         php    601
9        .net    571

In [39]:
popular_lang = language_count.frequency[:10]
popular_lang

0           sql
1    javascript
2        python
3          html
4    typescript
5           css
6    bash/shell
7          java
8           php
9          .net
Name: frequency, dtype: object

In [27]:
#df_lang.sort_values("salary_monthly_NETO", ascending=False).head(10)
print("Quantile 0.9:", df_lang["salary_monthly_NETO"].quantile(0.9))
print("Quantile 0.1:", df_lang["salary_monthly_NETO"].quantile(0.1))

Quantile 0.9: 4500000.0
Quantile 0.1: 980000.0

In [32]:
# Como se distribuyen los lenguajes de programación en los que se paga más de 4.500.000 (quantile 0.9)
distri_mejores_pagos = df_lang[df_lang["salary_monthly_NETO"] >= 4_500_000].programming_language.value_counts()

distri_mejores_pagos[:10]

programming_language
javascript    180
sql           176
python        170
typescript    127
bash/shell     99
html           94
java           88
css            65
go             60
php            52
Name: count, dtype: int64

In [33]:
# Como se distribuyen los lenguajes de programación en los que se paga menos de 980.000 (quantile 0.1)
distri_peores_pagos = df_lang[df_lang["salary_monthly_NETO"] <= 980_000].programming_language.value_counts()[:10]
distri_peores_pagos[:10]

programming_language
sql           236
javascript    184
html          159
python        139
css           121
typescript     98
java           74
bash/shell     73
php            63
.net           48
Name: count, dtype: int64

In [46]:
only_popular_lang = df_lang[df_lang.programming_language.isin(popular_lang)]
only_popular_lang.reset_index(drop=True, inplace=True)

In [ ]:
# comparacion de distribución
# histograma
# Assuming 'ProgrammingLanguage' is the column with language and 'Salary' with salary info
# Adjust column names if needed
g = seaborn.FacetGrid(only_popular_lang, col="programming_language", col_wrap=3, sharex=False, sharey=False)
g.map(seaborn.histplot, "salary_monthly_NETO", kde=True, color="skyblue")

g.set_titles("{col_name}")
g.set_axis_labels("Salary", "Count")
plt.subplots_adjust(top=0.9)
g.figure.suptitle("Salary Distribution by Programming Language")
plt.show()

## Filtrado de lenguajes relevantes

El siguiente código permite seleccionar sólo las filas donde el valor de la columna `programming_language` se encuentre en la lista `interesting_languages`.

In [ ]:
# Filter out languages that we want to exclude
# Complete here with your selected list.
interesting_languages = ["python"]
filtered_df_lang = df_lang[df_lang.programming_language.isin(interesting_languages)]
filtered_df_lang[:5]

,programming_language,tools_programming_languages,salary_monthly_NETO,cured_programming_languages
3,python,"Bash/Shell, CSS, HTML, Javascript, PHP, Python",1360000.00,"[bash/shell, css, html, javascript, php, python]"
4,python,"Bash/Shell, Python",NaN,"[bash/shell, python]"
6,python,".NET, Python, SQL",4000000.00,"[.net, python, sql]"
7,python,"C++, Python",3600000.00,"[c++, python]"
9,python,"Bash/Shell, Python, SQL",3258576.49,"[bash/shell, python, sql]"

# Ejercicio 2 - Densidades y varias variables

Responder a la pregunta general: **¿Que herramientas (prácticas y teóricas) són útiles para explorar la base, descubrir patrones, asociaciones?**

Para ello considere (igual al ejercicio Anterior):
1. Seleccionar las columnas relevantes para analizar.
2. Seleccionar las filas relevantes para analizar. Esto incluye la eliminación de valores extremos y erróneos, pero también puede enfocar el análisis en sub-poblaciones.

## a) Densidad conjunta

Que herramientas visuales y modelos puede utilizar para estudiar la distribución y comportamiento de sus datos?

Elija tres variables numéricas y 2 variables categóricas. Visualice la base según varias de las variables elegidas. Puede describir de alguna forma el comportamiento de sus datos? Que herramientas utilizaría? Describa

## b) Asociación

* Necesitamos decidir si sacar o no la columna de salario bruto. Para hacer la encuesta más simple.
¿Existe una correlación entre el salario bruto y el neto? Que abordaje y medidas usaría

## c) Densidad condicional

Estudie la distribución del salario según el nivel de estudio.

Separe la población según el nivel de estudio (elija dos subpoblaciones numerosas) y grafique de manera comparativa ambos histogramas de la variable `'salary_monthly_NETO'`
¿Considera que ambas variables son independientes?
¿Qué analizaría al respecto?

Calcule medidas de centralización y dispersión para cada subpoblación

## d) Densidad Conjunta condicional

Elija dos variables numéricas y una categórica.
Estudie la dispersión (scatterplot) de las dos variables discriminando en color por la variable categórica (ayuda: hue en seaborn)